{% extends 'components/base.twig' %}

{% block title %}Page Not Found{% endblock %}

{% block content %}

    <section class="padding-50 center-text background-blue">
        <div class="fixed-head-pad"></div>
        <h1 class="white-color">Page Not Found</h1>
    </section>
    <section class="padding-50 center-box center-text">
        <h3>Error 404</h3>
        <p>Sorry, the page you were looking for at this URL was not found.  We tried really hard to find it :(</p>
    </section>
{% endblock %}