{% extends 'components/base.twig' %}

{% block title %}Error{% endblock %}

{% block content %}

    <section class="padding-50 background-blue center-text">
        <div class="fixed-head-pad"></div>
        <h1 class="white-color">Server Error</h1>
    </section>
    <section class="padding-50 center-box center-text">
        <h3>Error 500</h3>
        <p>Looks like we experienced an error.  Leave it to a small website budget :/  If the problem persists, let our web guy know at <a href="mailto:enewbury94@icloud.com">enewbury94@icloud.com</a></p>
    </section>
{% endblock %}