{% extends 'components/base.twig' %}

{% block title %}Reset Password{% endblock %}

{% block content %}
    <div class="fixed-head-pad"></div>

        <form id="password-reset-form" class="account-form clear" method="post">
            <h3>Enter New Password</h3>
            {% include "components/validation_box.twig" %}

            <input type="password" name="password" autofocus placeholder="Password">
            <input type="password" name="confirm" placeholder="Confirm Password">
            <hr>
            <button type="submit" class="btn-primary">RESET</button>
        </form>

{% endblock %}